body {
  background-image: url("https://cdn.paizo.com/a7d62ac8-7f03-00ef-f1f0-83fb8bf332e2/ac08fe79-b3e4-4c03-be75-6abc724e68f4/102120_wizard-pt4-journal2.png");
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  text-align: center;
}

#input-container {
  text-align: center;
}

th {
  text-align: center;
}

#post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
